<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid header-container">
    <div class="navbar-header" style="text-align: center;">
      <p style="width:100%;"><img src="/img/AEAlogomini.png"/ style="float: left; height: 10vh;"><a class="navbar-brand" href="/">Awesome Ever After</a></p>
    </div>
    <% if @user == nil %>
      <%#= erb :loginForm %>
    <% else %>
      <%#= erb :loggedInHeader %>
    <% end %>
  </div>
</nav>
