<div id="mainframe" style="background-image: url('/img/home.jpg');">
  <div class="text">
    <h2 style="color: #7312FC"> Welcome! </h2>

    <button onclick="location.href='/storytime'" class="btn btn-default" style="margin-top: 50vh; padding: 1em 2em; font-size: 3em;">Go!</button>
  </div>
</div>
