<div id="mainframe" style="background-color: rgba(255, 180, 0, 0.2);">
  <div class="text" style="height:100%;">

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-12 storyBullet">
          <div class="row">
            <div class="col-xs-3"><a href="story?id=redridinghood"><img src="/img/RRHicon.png"/></a></div>
            <div class="col-xs-9"><a href="story?id=redridinghood">Little Red Riding Hood</a></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 storyBullet">
          <div class="row">
            <div class="col-xs-3"><a href="story?id=presentation"><img src="/img/SWSheffield-10-Logo-faded.png"/></a></div>
            <div class="col-xs-9"><a href="story?id=presentation">Our Presentation</a></div>
          </div>
        </div>
      </div>
<!--
      <div class="row">
        <div class="col-lg-6 col-md-12 storyBullet">
          <div class="row">
            <div class="col-xs-3"><a href="story?id=redridinghood"><img src="https://placekitten.com/150/150"/></a></div>
            <div class="col-xs-9"><a href="story?id=redridinghood">Rapunzel</a></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 storyBullet">
          <div class="row">
            <div class="col-xs-3"><a href="story?id=redridinghood"><img src="https://placekitten.com/150/150"/></a></div>
            <div class="col-xs-9"><a href="story?id=redridinghood">Sleeping Beauty</a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 storyBullet">
          <div class="row">
            <div class="col-xs-3"><a href="story?id=redridinghood"><img src="https://placekitten.com/150/150"/></a></div>
            <div class="col-xs-9"><a href="story?id=redridinghood">Snow White and the Seven Dwarves</a></div>
          </div>
        </div>
      </div>
    -->
    </div>
  </div>
</div>
