@font-face {
    font-family: awesomeEverAfterHeaders;
    src: url('ImaginaryImages.ttf');
}
@font-face {
    font-family: awesomeEverAfterMainText;
    src: url('Schoolbell.ttf');
}

.red {background-color: #f00;}
.green {background-color: #0f0;}
.blue {background-color: #00f;}
.cyan {background-color: #0ff;}
.yellow {background-color: #ff0;}
.orange {background-color: #fa0;}

#warning-message { display: none; }
@media only screen and (orientation:portrait){
    #wrapper { display:none; }
    #warning-message { display:block; margin-top: 7em;}
}
@media only screen and (orientation:landscape){
    #warning-message { display:none; }
}

body {
  font-family: Verdana,Geneva,sans-serif;
}

div#mainframe {
  text-align: center;
  height: 80vh;
  width: 80vw;
  margin: 5em auto 10vh auto;
  left: 10vw;
  position: fixed;
  overflow-y: scroll;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

div#mainframe div.text {
  font-weight: bold;
  font-size: 1.5em;
  width:100%;
  margin:auto;
  margin-bottom: 5em;
}
div#mainframe div.shaded {
  background-color: rgba(255,255,255,0.5);
}
.navbar, .btn {
  font-family: awesomeEverAfterHeaders;
}
div.text h2 {
  padding-top: 5em;
  font-family: awesomeEverAfterHeaders;
}

.storyBullet {
  display: table-cell;
}
.storyBullet img {
  float:left;
  width: 100%
}

.storyImg {
  position:relative;
  width:80%;
  margin: auto;
}

#controls {
  font-weight: bold;
  position: fixed;
  left:0;
  bottom: 0;
  background-color: rgba(66,66,66,0.5);
  width: 100%;
}

#controls .storyButton {
  padding: 1em;
  font-size: 1.5em;
}

ul {
  list-style: none;
}
